{% set blogInfo = _Blog.getBlog(null, {'excludeMenus' : true}) %}
{% set networkData = _Network.getNetworkData() %}

{{ set(this, 'title', blogInfo.title) }}


{% set limit = 18 %}
{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set firstCount = articles | length %}



{% set cacheKey = "articlePopular_blog" %}
{% set popularArticles = getCache(cacheKey) %}
{% if (popularArticles is empty) %}
    {% set popularArticles = _Article.getPopularArticles({ 
        limit: 5, 
        sortBy: 'VIEWS', 
        scope: 'blog',
    }) %}
    {% set cache = setCache(cacheKey, popularArticles, 500) %} 
{% endif %} 




<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = _AppHelper.getApplicationEnv() == 'DEV' ? 0 : 0 %}
{% set dev = _AppHelper.getApplicationEnv() == 'DEV' ? true : false %}




<main id="main" class="site-main" role="main" data-article-limit="{{limit}}" data-article-count="{{articles | length}}">
    
    <div class="container">

       

    </div>
    <div class="j-keyword-cont" data-keywords="{{blogInfo.keywords}}" data-pageName="" data-pageType="blog" data-pageTag="" data-adsection=""></div>
</main><!-- .site-main -->
