{{ set(this, 'params', {customClass: "b-commingSoon"})}}

<div class="g-commingSoon g-commingSoon-xs">
    <div class="acme-container">
        <div class="acme-row">
            <div class="acme-col-12">
                <div class="g-commingSoon__main">
                    <aside class="g-commingSoon__main-ls">
                        <h2>Our new website is coming soon!</h2>
                    </aside>
                    <aside class="g-commingSoon__main-rs">
                        <p>We are working on our new website, it’s not far away. Stay connected and get notified when we go live.</p>
                        <input type="text" class="g-commingSoon__main__input" placeholder="Email address" />
                        <button type="submit" class="g-commingSoon__main__btn">Connect</button>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>