{{ set(this, 'title', 'Contact') }} 
{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}
{% set flash = _AppHelper.getFlashMessages() %}

{% set error = false %}
{% set success = false %}

{% if flash['error'] is defined %} 
    {% set error = true %}
{% endif %}

{% if flash['success'] is defined %} 
    {% set success = true %}
{% endif %}

{% set messages = "" %}
{% for m in flash %}
    {% set messages = messages ~ m %}
{% endfor %}

    


<main id="main" class="c-contact d-none" role="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <div class="col-12 col-lg-8">
                    <div class="u-heading__large u-heading__large-xs u-margin-bottom-30">Contact</div>
                    <div class="c-contact-wrap c-contact-wrap--withBorder">
                        <div class="c-contact-info">
                            <div class="c-contact-info__title">Our details</div>
                            <div class="c-contact-info__address">
                                37 Rowan Street,<br/>
                                Wangaratta Victoria 3677<br/>
                            </div>
                            <div class="c-contact-info__otherInfo">
                                <strong>Telephone:</strong> (03) 5723 0100<br/>
                                <strong>Fax:</strong> (03) 5721 9447
                            </div>
                        </div>
                    </div>
                
                    <div class="c-contact-wrap">
                        <div class="c-contact-info">
                            <div class="c-contact-info__label">Classifieds</div>
                            <div class="c-contact-info__otherInfo">
                                <strong>Telephone:</strong> (03) 5723 0100<br/>
                                <strong>Fax:</strong> <a href="mailto:classified@media.com.au">classified@media.com.au</a>
                            </div>
                        </div>
                        <div class="c-contact-info">
                            <div class="c-contact-info__label">Advertising</div>
                            <div class="c-contact-info__otherInfo">
                                <strong>Telephone:</strong> (03) 5723 0100<br/>
                                <strong>Fax:</strong> <a href="mailto:advertising@media.com.au">advertising@media.com.au</a>
                            </div>
                        </div>
                        <div class="c-contact-info">
                            <div class="c-contact-info__label">Editorial</div>
                            <div class="c-contact-info__otherInfo">
                                <strong>Telephone:</strong> (03) 5723 0100<br/>
                                <strong>Fax:</strong> <a href="mailto:editorial@media.com.au">editorial@media.com.au</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>