{{ set(this, 'title', 'Contact') }} 
{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}
{% set flash = _AppHelper.getFlashMessages() %}

{% set error = false %}
{% set success = false %}

{% if flash['error'] is defined %} 
    {% set error = true %}
{% endif %}

{% if flash['success'] is defined %} 
    {% set success = true %}
{% endif %}

{% set messages = "" %}
{% for m in flash %}
    {% set messages = messages ~ m %}
{% endfor %}

    


<main id="main" class="c-contact d-none" role="main">
    <div class="container">
        <div class="row">

        </div>
    </div>
</main>