{{ set(this, 'title', name) }}
{% set flash = _AppHelper.getFlashMessages() %}

{% set messages = "" %}
{% for error in flash %}
    {% for k,ms in error %}
        {% for m in ms %}
            {% set messages = messages ~ k ~ ": " ~ m %}
        {% endfor %}
    {% endfor %}
{% endfor %}


{% set networkData = _Network.getNetworkData() %}
{% set config      = _Network.getThemeConfig() %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="c-error c-error-xs">
                <div class="c-error__img">
                    <img src="{{networkData.templatePath}}/static/icons/error_2.svg" alt="Icon" />
                    <div class="c-error__title">Page not found</div>
                    <div class="c-error__message">{{messages}}</div>
                    <a href="/" class="c-error__button c-button c-button--lightBlue px-5">Back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
    
