{{ set(this, 'title', 'Login / Signup') }}
{% set networkData   = _Network.getNetworkData() %}

{# {% if not _User.isGuest() %}
    {% set redir = _Page.setHttpRedirects(
        {
            '|^/.*|': networkData.defaultBlogUrl,
            
        }, false) 
    %} 
{% endif %} #}
<script src="https://apis.google.com/js/platform.js" async defer></script>


<section class="container u-margin-top-100 u-margin-bottom-100 auth_wrapper">
    <div class="row u-flex-center">
        <div class="col-12">
            <div class="c-page-head c-page-head-xs">
                <div class="u-heading__large--d2 text-center">Sign in</div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mx-auto">
                    <form name="loginForm" id="loginForm" class="login-form active" action="javascript:void(0);" method="post" accept-charset="UTF-8" autocomplete="off"> 
                        
                        <div class="signin-modal__form-group">
                            <div class="signin-modal__form-group__label">
                                <label class="signin-modal__form-group__label-text">Email address</label>
                            </div>
                            <input id="loginName" class="login-form__input" type="text" name="username" placeholder="Email" value="" /> 
                        </div>

                        <div class="signin-modal__form-group">
                            <div class="signin-modal__form-group__label">
                                <label class="signin-modal__form-group__label-text">Password</label>
                            </div>
                            <input id="loginPass" class="login-form__input" type="password" name="password" placeholder="Password" value="" /> 
                        </div>
                        <div class="js-login-error login-form__error message active u-hide"> 
                            <div class="login-form__error_text">Invalid Email or Password</div> 
                        </div> 
                        <div class="button-set mt-4">
                            <button id="signinTwig" type="submit" class="c-button c-button--inline  c-button--lightBlue w-100 signin">SIGN IN</button> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // main script is defered so event listener makes sure
    // defered script is loaded before this runs
    document.addEventListener("DOMContentLoaded", function(event) {
        var redirect = "";

        var articleUrl = decodeURIComponent(window.location.search);
        if ( articleUrl.indexOf("?url=") === 0) {
            var redirect = "/" + articleUrl.substring(5);
        }

        $('#signinGoogle').on('click', function(e) {
            console.log('signing in google');
            function init() {
                gapi.load('auth2', function() {
                    gapi.auth2.init({client_id: 'CLIENT_ID.apps.googleusercontent.com'});

                    /* Ready. Make a call to gapi.auth2.init or some other API */
                });
            }

            
            {# Acme.server.create('/auth/auth', {"type" : "google"}).done(function(r) {
                if (r.success === 1) {
                    window.location.replace(_appJsConfig.appHostName + redirect); 
                } else {
                    $elem.text("Sign in")
                        .removeClass('spinner');
                    $('.message').removeClass('hide');
                    $('.js-login-error').removeClass('u-hide');
                }
            }).fail(function(r) { console.log(r);}); #}
        });



        $('#signinTwig').on('click', function(e) {

            var $elem = $(e.target);
            $('.js-login-error').addClass('u-hide');
            if ($elem.hasClass('signin')) {
                $elem.text('').addClass('spinner');
                e.preventDefault();
                var formData = {};
                console.log('signing in');
                $.each($('#loginForm').serializeArray(), function () {
                    formData[this.name] = this.value.trim();
                });

                // rememberMe sets flag to store login for 30 days in cookie
                formData['rememberMe'] = 1;
                Acme.server.create('/api/auth/login', formData).done(function(r) {
                    if (r.success === 1) {
                        window.location.replace(_appJsConfig.appHostName + redirect); 
                    } else {
                        $elem.text("Sign in")
                            .removeClass('spinner');
                        $('.message').removeClass('hide');
                        $('.js-login-error').removeClass('u-hide');
                    }
                }).fail(function(r) { console.log(r);});
            }
        });

    });

</script>