.card-5-desktop {
    @media #{$desktop-up} {
        .c-cards-view {
            @include flex-direction(column, vertical);
            min-height: 680px;
            @include justify-content(flex-start);
            &__media {
                min-height: 450px;
                height: 450px;
                margin-bottom: 15px;
                overflow: hidden;
            }

            &__container, &__container-topSection {
                flex: 1;
            }

            &__heading {
                @include font-size(32);
                line-height: 1.33;
                margin-top: 5px;
            }

            &__description {
                color: $grey5;
                @include font-size(13);
                line-height: 1.38;
            }

            &__author {
                @include flexbox;
                @include align-items(center);

                &-name {
                    @include font-size(12);
                    color: $black;
                    line-height: 1.33;
                    font-family: $primaryFont;
                    font-weight: $weightMedium;
                    margin-right: 15px;
                    position: relative;
                    padding-left: 12px;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        @include translate(0, -50%);
                        @include size(4px);
                        background-color: $blue_sh5;
                    }
                }
            }
        }
    }
}
.card-5-desktop {
    .c-cards-view {
        &.without-image {
            background-color: $black;
            height: 680px;
            .c-cards-view {
                &__container {
                    padding: 100px 50px 50px;
                }

                &__category,
                &__heading,
                &__description,
                &__author-name,
                &__time {
                    color: $white;
                }
            }
        }
    }
    &.card-2-mobile, &.card-2-tablet  {
        @media #{$mobile}, #{$tablet} {
            .c-cards-view {
                &.without-image {
                    background-color: $black;
                    height: inherit;

                    .c-cards-view {
                        &__container {
                            padding: 50px 30px 20px;
                        }
                    }
                }
            }
        }
    }
}


.card-5-text-center {
    .c-cards-view {
        text-align: center;

        &__category-wrap {
            @include justify-content(center);
        }

        &__author {
            @include justify-content(center);

            &.c-cards-view__media--video {
                padding-left: 0px;
                &:before {
                    display: none;
                }

                .c-cards-view__author-name {
                    padding-left: 15px;
                    &:before {
                        content: "\f04b";
                        display: block;
                        font-family: $iconfont;
                        color: $blue_sh5;
                        @include size(auto);
                        @include font-size(9);
                        line-height: 1;
                        top: 2px;
                        left: 0;
                        @include translate(0, 0);
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
