@mixin card-4-tablet-base() {
    @include card-2-base();
    @include card-name("C4 tablet");
}

.card-4-desktop {
    @media #{$desktop-up} {
        @include card-4-tablet-base();
        @include card-name("C4 desktop");
        height: 100%;
        .card-infoo {
            height: 100%;
        }
        .c-cards-view {
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 0px;
            &__media {
                max-height: 185px;
                min-height: 185px;
            }
        }
    }
}
