@mixin card-1-base() {
    @include card-name("C1 mobile");

    .c-cards-view {
        @include flex-direction(row, horizontal);
        border-bottom: 1px solid $grey4;
        padding-bottom: 15px;
        margin-bottom: 15px;

        &__media {
            width: 80px;
            height: 100px;
            position: absolute;
            left: 0;
            &.c-cards-view__media--video {
                &:before {
                    display: none;
                }
                .video-icon {
                    display: none;
                }
            }
        }

        &__heading {
            margin-top: 3px;
        }

        &__description {
            display: none;
        }
        &__author {
            &-name {
                display: none;
            }
        }

        &__container {
            @include calc(width, "100% - 96px");
            margin-left: 96px;

            &-topSection {
                height: initial;
                margin-bottom: 6px;
            }
        }

        // ****************************
        //          SOCIAL
        // ****************************
        &.social {
            .social-icon {
                @include size(30px);

                &:before {
                    @include font-size(13);
                    line-height: 32px;
                }
            }

            &.without-image {
                .c-cards-view {
                    &__container {
                        @include calc(width, "100% - 30px");
                        margin-left: 0px;
                        padding: 0 20px;
                        background: none;
                        margin-top: 40px;
                    }
                }
            }
        }

        &.without-image {
            background-color: transparent;
            .c-cards-view {
                &__container {
                    width: 100%;
                    margin-left: 0px;
                }
            }
        }
    }
}

.card-1-mobile {
    @media #{$mobile} {
        @include card-1-base();
    }

    &.card__version2 {
        .c-cards-view__media {
            height: 106px !important;
        }
    }

    &.card-1--with-description {
        .c-cards-view {
            &__heading{
                min-height: 40px;
            } 
            &__description {
                display: block;
                margin-top: 8px;
            }
            &__author {
                display: none
            }
        } 
    }
}

@mixin card-1-tablet-base() {
    @include card-1-base();
    @include card-name("C1 tablet");

    // ****************************
    //          SOCIAL
    // ****************************
    &.social {
        .social-icon {
            @include size(50px);

            &:before {
                @include font-size(22);
                line-height: 52px;
            }
        }

        &.without-image {
            .c-cards-view {
                &__container {
                    margin-top: 60px;
                }
            }
        }
    }
}

.card-1-tablet {
    @media #{$tablet} {
        @include card-1-tablet-base();
        @include card-name("C1 desktop");

        .c-cards-view {
            &__heading {
                @include font-size(14);
                line-height: 1.43;
            }
        }
    }
}
.card-1-desktop {
    @media #{$desktop-up} {
        @include card-1-tablet-base();
        @include card-name("C1 desktop");

        .c-cards-view {
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 0px;

            &__heading {
                @include font-size(14);
                line-height: 1.43;
            }
        }
    }
}

.card-borderBottom__deskVersion {
    .card-1-desktop {
        @media #{$desktop-up} {
            border-bottom: 1px solid $grey4;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
    }
}
