@mixin base-event-card {
    .c-eventcards-view {
        &__media {
            margin-bottom: 15px;
            height: 40vw;
            min-height: 145px;
            overflow: hidden;
            width: 100%;
            picture,
            img {
                width: 100%;
                display: block;
            }
        }
        &__category {
            @include font-size(12);
            color: $blue_sh5;
            font-weight: $weightMedium;
        }

        &__category-wrap {
            @include flexbox;
            @include align-items(center);
        }

        &__additional-category {
            margin-right: 10px;
            color: $white;
            @include font-size(12);
            line-height: 1.33;
            font-weight: $weightMedium;
            padding: 2px 5px;
            background-color: $blue_sh5;
        }

        &__heading {
            @include font-size(18);
            line-height: 1.33;
            color: $black;
            font-family: $secondaryFont;
            font-weight: $weightBold;
            min-height: 35px;
            margin: 8px 0 10px;
        }

        &__description {
            display: none;
            @include font-size(13);
            font-weight: $weightRegular;
            color: $grey5;
            line-height: 1.38;
            margin-top: 5px;
        }

        &__day {
            @include font-size(13);
            font-weight: $weightMedium;
            color: $black;
            line-height: 1.23;
        }

        &__time {
            @include font-size(13);
            font-weight: $weightRegular;
            color: $grey5;
            line-height: 1.38;
            margin-top: 5px;
        }

        &__conditionalDate,
        &__conditionalImage {
            display: none;
        }

        &__icon {
            width: 100%;
            background-color: var(--main-color);
            height: 128px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            margin-bottom: 12px;

            .o-icons__main {
                fill: $white;
                @include size(50px);
            }
        }
    }
}

.event-card-1__mobile {
    > a {
        text-decoration: none;
    }
    &.fullWidth {
        .c-eventcards-view {
            &__description {
                display: block;
            }
        }
    }
    @media #{$mobile} {
        @include base-event-card();
    }
    + .event-card-1__mobile {
        margin-top: 20px;
    }
}
@mixin base-event-card-tablet() {
    @include base-event-card();
    .c-eventcards-view {
        @include flexbox;
    }
}

.event-card-1__tablet {
    @media #{$tablet} {
        @include base-event-card-tablet();
        @include card-name("event1 tablet");

        .c-eventcards-view {
            @include flex-direction(column, vertical);
        }
    }
}
.event-card-1__desktop {
    @media #{$desktop-up} {
        @include base-event-card-tablet();
        @include card-name("event1 desktop");

        .c-eventcards-view {
            &__icon,
            &__media {
                margin-bottom: 0;
                width: 164px;
            }

            &__media {
                height: 129px;
                min-height: 129px;
                picture {
                    @include size(100%);
                }
                img {
                    object-fit: cover;
                    @include size(100%);
                }
            }

            &__container {
                margin-left: 34px;
                min-height: 129px;
                position: relative;
                padding-bottom: 24px;
                flex: 1;
            }

            &__author {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        &.fullWidth {
            .c-eventcards-view {
                &__media {
                    width: 63%;
                    height: auto;
                }

                &__heading {
                    @include font-size(32);
                    line-height: 1.25;
                    color: $black;
                    font-family: $secondaryFont;
                    font-weight: $weightBold;
                    min-height: 90px;
                    margin: 8px 0 10px;
                }

                &__container {
                    padding-bottom: 0;
                }
                &__otherInfo {
                    margin-top: 90px;
                }
                &__author {
                    position: relative;
                    margin-top: 10px;
                }
            }
        }
    }
}
