.cus_acnt {
  $selfCusAcnt: &;
  &__hide,
  &__hidden {
    display: none !important;
  }

  &__headerBar {
    background: var(--main-color);
    margin-top: 20px;
    padding: 8px 0;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    min-height: 48px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: $weightBold;
    line-height: 1.5;
    text-decoration: none;

    + .cus_acnt__btn {
      margin-left: 12px;
    }

    &__solid {
      background-color: $blue_sh5;
      color: $white;
    }

    &__bordered {
      border: 1px solid $blue_sh5;
      color: $blue_sh5;
    }
  }

  &__helptext {
    color: $white;
    font-family: $secondaryFont;
    line-height: 1.23;
    font-size: 13px;
    font-style: italic;

    a {
      color: $white;
    }

    @include responsive(xs) {
      @include respond-to(sm) {
        display: flex;
        justify-content: flex-end;

        a {
          margin-left: 7px;
        }
      }
    }
  }

  &__info {
    &-container {
      background: $grey3;
      padding: 80px 0 65px;
    }
  }

  &__infoBox {
    &-head {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      &--label {
        color: $black;
        font-size: 26px;
        line-height: 1.23;
        font-family: $primaryFont;
        font-weight: 700;
      }

      &--link {
        color: $blue_sh5;
        line-height: 1.33;
        font-family: $primaryFont;
        font-weight: 700;
        font-size: 12px;
        margin-top: 3px;
      }
    }

    &-dataGrid {
      margin-bottom: 40px;
      &-item {
        @include flexbox;
        @include flex-direction(column, vertical);
        margin-bottom: 12px;

        &--label {
          color: #636567;
          @include font-size(14);
          line-height: 1.71;
          font-family: $primaryFont;
        }

        &--value {
          color: #000;
          @include font-size(18);
          line-height: 1.78;
          font-family: $primaryFont;
        }
      }
    }

    &-form {
      #{$selfCusAcnt} {
        &__form {
          &__label {
            color: #636567;
            @include font-size(16);
            line-height: 1.5;
            font-family: $primaryFont;
            margin-bottom: 8px;
          }

          &__input {
            height: 48px;
            padding: 20px;
            outline: none;
            border: none;
          }

          &__group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            &__help-block {
              display: none;
            }

            .three-column {
              background: #ffffff; 
              padding: 15px;
            }

            &.has-error {
              position: relative;
              &:after {
                content: "";
                background-image: url("../icons/icons-warning.svg");
                width: 17px;
                height: 17px;
                position: absolute;
                right: 15px;
                bottom: 30px;
              }
              #{$selfCusAcnt}__form {
                &__help-block {
                  display: block;
                  color: #c40000;
                  font-family: $primaryFont;
                  font-weight: $weightMedium;
                  font-size: 12px;
                  font-style: italic;
                  margin-top: 5px;
                }
              }
            }
          }

          &__btns {
            display: flex;
            flex-direction: row;
            #{$selfCusAcnt} {
              &__btn {
                flex: 1;
              }
            }
            @media screen and (max-width: 540px) {
              flex-direction: column;

              .cus_acnt__btn + .cus_acnt__btn {
                margin-left: 0;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }

    @include responsive(xs) {
      @include respond-to(md) {
        .cus_acnt__infoBox {
          &-head {
            flex-direction: row;
            justify-content: space-between;
          }
        }
      }
    }
  }

  &__paymentBox {
    &-box1 {
      border-top: 12px solid $blue_sh5;
      background-color: $white;
      padding: 22px 28px;
      @include flexbox;

      &__img {
        width: 36px;
      }

      &__content {
        margin-left: 20px;
        .content-title {
          color: #000;
          @include font-size(14);
          line-height: 1.14;
          font-family: $primaryFont;
          font-weight: $weightMedium;
          margin-bottom: 4px;
        }

        .content-date {
          color: #636567;
          @include font-size(26);
          line-height: 1.23;
          font-family: $primaryFont;
          font-weight: $weightBold;
        }
      }
    }

    &-box2 {
      background-color: var(--main-color);
      padding: 22px 0;
    }
  }

  &__planInfo {
    &-text {
      color: $white;
      @include font-size(26);
      line-height: 1.23;
      font-family: $primaryFont;
      font-weight: $weightBold;
      margin-bottom: 20px;
      padding: 0 28px;
    }

    &-subInfo {
      color: $white;
      @include font-size(15.1);
      line-height: 1.14;
      font-family: $primaryFont;
      font-weight: $weightBold;
      text-transform: uppercase;
      padding: 0 28px;
    }

    &-amount {
      color: $white;
      @include font-size(39.4);
      line-height: 1.26;
      font-family: $primaryFont;
      font-weight: $weightBold;
      margin: 5px 8px 5px 0;
    }

    &-month {
      color: #c0c0c0;
      @include font-size(17.4);
      line-height: 1.14;
      font-family: $primaryFont;
      font-weight: $weightMedium;
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    &__costWrap {
      padding: 0 18px 0 28px;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
    }

    &-status {
      margin: 0 28px;
      @include flexbox;
      border-bottom: 1px solid #c0c0c0;
      padding: 12px 0;

      &--text {
        flex: 1;
        color: #c0c0c0;
        @include font-size(16);
        line-height: 1.5;
        font-family: $primaryFont;
        font-weight: $weightRegular;
      }
      &--value {
        flex: 0.6;
        color: $white;
        @include font-size(16);
        line-height: 1.5;
        font-family: $primaryFont;
        font-weight: $weightMedium;
      }

      &.cancelled {
        margin: 0;
        background-color: $white;
        padding: 12px 28px;

        #{$selfCusAcnt} {
          &__planInfo-status--value {
            color: #c40000;
            position: relative;

            &:before {
              content: "";
              background-image: url("../icons/icons-warning.svg");
              width: 17px;
              height: 17px;
              position: absolute;
              left: -30px;
              top: 3px;
              display: block;
            }
          }
        }
      }
    }
  }

  &__subInfo {
    .cancel-subBtn {
      color: #848486;
      @include font-size(12);
      line-height: 1.33;
      font-family: $primaryFont;
      font-weight: $weightBold;
      display: inline-block;
      margin: 54px 28px 0;
    }

    &__article-info {
      font-size: 16px;
      font-weight: $weightMedium;
      font-family: $primaryFont;
      line-height: 1.5;
      color: $white;
      padding: 13px 28px;
      margin-top: 24px;
      background-color: rgba($white, 0.2);

      + .cancel-subBtn {
        margin-top: 30px;
      }
    }

    .cus_acnt__btn__solid {
      margin: 24px 28px 0;
      + .cancel-subBtn {
        margin-top: 30px;
      }
    }
  }

  //user section
  &__user-container {
    margin: 80px 0;

    #{$selfCusAcnt} {
      &__user {
        &-head {
          margin-bottom: 25px;

          &--label {
            color: $black;
            font-size: 26px;
            font-family: $primaryFont;
            font-weight: $weightBold;
            line-height: 1.23;
          }

          &--sub-text {
            color: #636567;
            font-size: 14px;
            font-family: $primaryFont;
            font-weight: $weightRegular;
            line-height: 1.14;
            margin-top: 4px;
          }
        }

        &-grid {
          &__search,
          form {
            display: flex;
            flex-direction: column;

            &--field {
              flex: 1;
              margin-bottom: 20px;
              position: relative;
              display: flex;

              span {
                position: absolute;
                left: 15px;
                top: 12px;
                width: 25px;
                height: 25px;
              }

              input {
                background-color: $grey3;
                padding-left: 50px;
                flex: 1;
                height: 48px;
                outline: none;
                border: none;
              }
            }

            &--btn {
              width: 100%;

              .cus_acnt__btn {
                width: 100%;
              }
            }
          }

          &__show-user {
            border-bottom: 1px solid $grey4;
            color: $grey5;
            font-size: 14px;
            font-style: italic;
            font-family: $primaryFont;
            padding: 10px 0;
            margin-top: 15px;
          }

          &__list {
            margin-top: 20px;

            li {
              border-bottom: 1px solid $grey4;
              margin-bottom: 20px;
              padding-bottom: 20px;
              &.no-data {
                color: $grey5;
                font-size: 18px;
                line-height: 1.78;
                font-weight: $weightRegular;
                border-bottom: none;
                padding-bottom: 0px;
              }
            }

            .user-list--items {
              display: flex;
              flex-direction: column;

              &-name {
                font-size: 18px;
                color: $black;
                font-family: $primaryFont;
                font-weight: $weightBold;
                line-height: 1.78;
              }

              &-email {
                font-size: 14px;
                color: $grey5;
                font-family: $primaryFont;
                font-weight: $weightRegular;
                line-height: 1.14;
              }

              &-remove {
                font-size: 14px;
                color: $grey4;
                font-family: $primaryFont;
                font-weight: $weightMedium;
                line-height: 1.33;
                text-decoration: none;
                margin-top: 15px;
                display: inline-block;

                &:hover {
                  color: $blue_sh5;
                }

                .icon {
                  margin-right: 8px;
                }
              }
            }
          }

          @include responsive(xs) {
            @include respond-to(md) {
              #{$selfCusAcnt} {
                &__user {
                  &-grid {
                    &__search {
                      flex: 1;
                      flex-direction: row;

                      &--field {
                        flex: 1;
                        margin-right: 10px;
                        margin-bottom: 0px;
                      }
                      &--btn {
                        max-width: 170px;
                      }
                    }

                    &__list {
                      .user-list--items {
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;

                        &-remove {
                          margin-top: 0px;
                        }
                      }
                    }
                  }
                }
              }

              form {
                flex: 1;
                flex-direction: row;
              }
            }
          }
        }
      }

      &__plan-table {
        margin-bottom: 80px;
        .table {
          min-width: 800px;
          tr {
            border-bottom: 8px solid $white;
            th {
              background-color: var(--main-color);
              color: $white;
              font-family: $primaryFont;
              font-weight: $weightBold;
              font-size: 16px;
              height: 48px;
              vertical-align: middle;
              padding: 0 30px;
              text-align: left;
            }

            td {
              height: 96px;
              background-color: $grey3;
              padding: 0 15px;
              vertical-align: middle;
              text-align: left;
              position: relative;

              &:first-child {
                padding-left: 30px;
                width: 400px;
              }
              &:last-child {
                padding-right: 30px;
              }
            }

            &:nth-child(4n-3) {
              td {
                background-color: #ececec;
              }
            }
          }
        }

        .table-responsive {
          .table {
            width: 100%;
          }

          @media screen and (max-width: 767px) {
            overflow-x: auto;
            white-space: nowrap;
          }
        }

        &--title {
          font-size: 18px;
          font-family: $primaryFont;
          font-weight: $weightMedium;
          color: $black;
          line-height: 1.22;
        }

        &--tag {
          background-color: #c40000;
          border-radius: 4px;
          position: absolute;
          top: 50%;
          transform: translate(0px, -50%);
          left: -80px;
          color: $white;
          font-size: 12px;
          text-transform: uppercase;
          font-family: $primaryFont;
          font-weight: $weightMedium;
          padding: 7px 4px;
        }

        &--price {
          font-size: 16px;
          line-height: 1.13;
          color: $black;
          font-family: $primaryFont;
          font-weight: $weightRegular;
        }

        &--feature {
          font-size: 12px;
          line-height: 1.33;
          font-family: $primaryFont;
          font-weight: $weightMedium;
          color: $grey5;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            color: $blue_sh5;
          }
        }

        &--purchase {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 48px;
          min-height: 48px;
          border-radius: 6px;
          font-size: 16px;
          font-weight: $weightBold;
          line-height: 1.5;
          text-decoration: none;
          background-color: $blue_sh5;
          color: $white;
          width: 100px;
        }

        .active {
          > td {
            background-color: #d5d1fd !important;
            .cus_acnt__plan-table--feature {
              color: $blue_sh5 !important;
            }
            .cus_acnt__plan-table--purchase {
              background-color: transparent !important;
              color: $blue_sh5 !important;
              border: 1px solid $blue_sh5;
            }
          }  
        }

        .folded {
          display: none;

          &.open {
            display: table-row;
          }
          td {
            background-color: #fbfbfb !important;
            padding: 30px !important;
          }
        }
        .users-feature__list {
          display: flex;

          ul {
            flex: 1;

            li {
              position: relative;
              padding-left: 27px;
              padding-top: 5px;
              margin-bottom: 10px;
              line-height: 1.38;
              font-size: 13px;
              font-family: $primaryFont;
              font-weight: $weightRegular;

              &:before {
                content: "\f05d";
                position: absolute;
                display: block;
                font-family: $iconfont;
                left: 0;
                top: 0;
                color: $grey4;
                font-size: 20px;
              }
            }
            +ul {
              margin-left: 25px;
            }
          }
        }
      }
    }
  }

  &__user__allotment-container {
    background-color: $grey3;
    margin-bottom: 25px;
    padding: 16px 0;

    #{$selfCusAcnt} {
      &__user {
        &__addition {
          display: flex;
          flex-direction: column;

          &-btn {
            width: 100%;
            margin-bottom: 15px;
          }
        }

        &__addSec {
          .user-editor {
            .text-button {
              position: absolute;
              top: 0;
              width: 170px;
              height: 48px;
              left: 15px;
              background-color: $grey3;
              display: flex;
              align-items: center;
              font-size: 26px;
              line-height: 1.23;
              color: $black;
              font-weight: $weightBold;
              font-family: $primaryFont;
            }
          }

          .cus_acnt__infoBox-form {
            display: flex;
            flex-wrap: wrap;

            .cus_acnt__form__group {
              flex: 1 0 100%;
              margin-bottom: 20px;
            }
          }
        }

        &__allot-wrap {
          display: flex;
          align-items: center;

          &--image {
            width: 32px;
            height: 32px;
            margin-right: 15px;
          }

          &--text {
            color: #636567;
            font-family: $primaryFont;
            font-weight: $weightRegular;
            &.strong {
              font-family: $primaryFont;
              font-weight: $weightMedium;
              color: $black;
              margin-left: 8px;
            }
          }
        }
      }
    }

    @include responsive(xs) {
      @include respond-to(md) {
        #{$selfCusAcnt} {
          &__user {
            &__addition {
              flex-direction: row;
              align-items: center;
              justify-content: space-between;

              &-btn {
                max-width: 170px;
                margin-bottom: 0;
              }
            }

            &__addSec {
              .user-editor {    
                .cus_acnt__infoBox-form {    
                  .cus_acnt__form__group {
                    flex: 1 0 calc(50% - 20px);
                    margin: 0 10px 20px;

                    &.cus_acnt__form__btns {
                      margin-top: 34px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
