{% set articleCount = 0 %}
{% set cardIndex = 0 %}


<div class="row" data-section="14">
    <div class="col-12">
        <div class="u-generic-topBorder "></div>
        <div class="c-page-head c-page-head-xs">
            <div class="u-heading__large u-heading__large-xs u-pr--6">{{title}}</div>
            {% if linkShow %}
                <a href="{{link}}" class="c-page-head__link">View all</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="c-cards-container c-cards-container-xs bottom-border">
            <div class="row">
                {% for i in 0..3 if articles[articleCount] %}

                <div class="col-12 col-lg-3 left-border">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount],
                        position: (articleCount+1),
feedBlogGuid: articles[articleCount]['requestedBlog']['guid'],
                        imageSize: {width: 120, height: 145},
                        imageSizes: {
                            "mobile": {
                                width: 120, height: 145
                            },
                            "mobileLrg": {
                                width: 120, height: 145
                            },
                            "tablet": {
                                width: 120, height: 145
                            }
                        },
                        swap : 'false',
                        containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1--with-description",
                        timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="c-cards-container c-cards-container-xs bottom-border">
            <div class="row">
                {% for i in 4..7 if articles[articleCount] %}

                <div class="col-12 col-lg-3 left-border">
                    {{this.render('../_single-article.twig', {
                        article: articles[articleCount],
                        position: (articleCount+1),
feedBlogGuid: articles[articleCount]['requestedBlog']['guid'],
                        imageSize: {width: 120, height: 145},
                        imageSizes: {
                            "mobile": {
                                width: 120, height: 145
                            },
                            "mobileLrg": {
                                width: 120, height: 145
                            },
                            "tablet": {
                                width: 120, height: 145
                            }
                        },
                        containerClass: "card-1-mobile card-1-tablet card-1-desktop card-1--with-description",
                        timeSuppress: timeSuppress
                    }) | raw}}
                    {% set articleCount = (dev) ? articleCount : articleCount + 1 %}
                </div>
                {% endfor %}
            </div>
        </div>
    
    </div>
</div>