/* Begin footer style */

.c-footer {
    background-color: $greyish;
    padding: 28px 0 20px;
    &--themecolour{
        background-color: $mainColor;
    }

    &__logo {
        @include flexbox;
        @include justify-content(center);
        &--link {
            max-width: 200px;
            display: block;
        }

        img {
            max-width:100%;
        }
    }

    &__addresses{
        &__content{
            @include font-size(14);
            font-weight: $weightRegular;
            line-height: 1.29;
            color: $white;
            margin-bottom: 15px;
            @media #{$up-to-desktop}{
                margin-bottom: 10px;
            }

            &--name {
                font-weight: $weightBold;
            }
        }
    }

    &__social {
        border-top: 1px solid $grey3;
        margin-top: 50px;
        padding-top: 25px;
    }

    &__bottom {
        &__powered-by,
        &__copyright {
            color: $grey3;
            @include font-size(12);
            line-height: 1.33;
            font-weight: $weightRegular;
            @include flexbox;

            a {
                color: $grey3;
                @include font-size(12);
                line-height: 1.33;
                font-weight: $weightUltabold;
                text-decoration: none;
                margin-left: 5px;
                @include flexbox;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .c-navigation-0 {
            .c-navigation {
                &__grid {
                    li {
                        line-height: 1;
                    }
                }
                &__item {
                    @include transition(all 0.3s ease);
                    &:hover {
                        color: $blue_sh5;
                    }
                }
            }
        }
       
    }

    &__top {
        background-color: $blue_sh5;
    }

    @include responsive(sm) {
        padding: 60px 0 40px;

        @include respond-to(md) {
            .c-footer {
                &__logo {
                    @include justify-content(flex-start);
                }
            }
        }
    }
}