.c-article {
    &.c-article__carousel {
        .gallery-container {
            margin-bottom: 20px;
            .article-gallery {
                &__caption {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: $black;
                    width: 100%;

                    p {
                        color: $white;
                        margin-bottom: 0;
                        padding: 10px;
                        font-size: 12px;
                        line-height: 1.33;
                        font-weight: $weightMedium;
                        font-style: normal;
                    }
                }

                &__img {
                    &-container {
                        height: 100%;
                        background-color: $grey3;
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                    }
                }

                .owl-prev {
                    background-image: url("../icons/elements-gallery-arrow-reverse.svg");
                    background-color: transparent !important;
                    padding: 0 !important;
                    margin-left: 16px;
                    @include size(40px);
                }

                .owl-next {
                    background-image: url("../icons/elements-gallery-arrow-reverse.svg");
                    background-color: transparent !important;
                    padding: 0 !important;
                    margin-right: 16px;
                    @include size(40px);
                }
            }

            .article-video {
                max-width: 100%;
            }

            .owl-thumbs,
            #counter {
                display: none;
            }
        }
    }
}
