/* Begin footer style */

.c-footer {
    background-color: $greyish;
    padding: 28px 0 20px;
    &--themecolour{
        background-color: $mainColor;
    }

    &__logo {
        max-width: 200px;
        display: block;

        img {
            max-width:100%;
        }
    }

    &__addresses{
        &__content{
            @include font-size(14);
            font-weight: $weightRegular;
            line-height: 1.29;
            color: $white;
            margin-bottom: 15px;
            @media #{$up-to-desktop}{
                margin-bottom: 10px;
            }

            &--name {
                font-weight: $weightBold;
            }
        }
    }

    @include responsive(sm) {
        padding: 60px 0 40px;
    }
}