/* Begin page head style */
.c-search {
    background-color: $grey3;
    padding: 30px 0 35px;
    &__head {
        &-text {
            color: $grey5;
            @include font-size(14);
            line-height: 1.14;
            font-style: italic;
            font-family: $secondaryFont;
            font-weight: $weightRegular;
        }
        &-title {
            @include font-size(26);
            font-weight: $weightBold;
            color: $black;
            line-height: 1.23;
            margin-top: 12px;
        }
    }

    &__container {
        margin-top: 30px;
    }
}

#search-load,
.u-loadmore-button {
    @include font-size(12);
    font-weight: $weightBold;
    color: $blue_sh5;
    border-bottom: 2px solid $blue_sh5;
    @include inline-flex;
    text-decoration: none;
    padding-bottom: 2px;
}
/* End page head style */
