/* Begin header top navigation */

.c-navigation { 
    $selfNav: &;
    &-0 {
        #{$selfNav} {
            &__grid {
                @include flexbox;
                @include align-items(center);

                li {
                    + li {
                        margin-left: 20px;
                    }
                }
            }

            &__item {
                color: $grey3;
                @include font-size(10);
                line-height: 1.6;
                font-weight: $weightMedium;
                text-decoration: none;
            }
        }
    }
}

/* End header top navigation */