.c-article {

  &__price {
    font-family: $primaryFont;
    font-weight: $weightMedium;
    @include font-size(16);
    color: $black;
  }

  &__address {
    font-family: $primaryFont;
    font-weight: $weightRegular;
    @include font-size(13);
    color: $grey5;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &__features {
    @include flexbox;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;

    .c-article__feature {
      @include flexbox;
      @include align-items(center);
      margin-right: 16px;

      &-icon {
        margin-right: 8px;

        &--fill {
          svg *{
            fill: var(--sec-color) !important;
          }
        }
      }
    }
  }

  //top bar
  &__top {
    border-bottom: 1px solid $grey4;
    padding: 18px 0;
  }
  &__time {
    &-info {
      @include flexbox();
      @include align-items(center);

      &--label {
        margin-left: 10px;
        @include font-size(12);
        color: $grey5;
        font-family: $primaryFont;
        font-weight: $weightMedium;
        @include flexbox;
        margin-top: 3px;
      }
    }
  }

  .u-generic-socialIcons {
    &--sticky {
      margin-bottom: 25px;
    }
  }

  &__category {
    color: var(--sec-color);
    @include font-size(12);
    line-height: 1.33;
    font-weight: $weightMedium;
  }

  &__category-wrap {
    @include flexbox;
    @include align-items(center);
    margin-bottom: 10px;
  }

  &__edit-link {
    display: block;
    margin: 20px 0 10px;
    background-color: var(--main-color);
    color: $white;
    font-weight: $weightBold;
    @include font-size(16);
    line-height: 1.5;
    @include border-radius(6px);
    height: 40px;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    text-decoration: none;
  }

  &__additional-category {
    margin-right: 10px;
    color: $white;
    @include font-size(12);
    line-height: 1.33;
    font-weight: $weightMedium;
    padding: 2px 5px;
    background-color: var(--sec-color);
  }

  &__title {
    @include font-size(32);
    line-height: 1.25;
    font-family: $secondaryFont;
    font-weight: $weightBold;
    color: $black;
  }

  &__additionalInfo {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-top: 15px;
  }

  &__posted-on {
    @include calc(max-width, "100% - 100px");
    width: 100%;
    @include flexbox();
    @include align-items(center);
    @include flex-wrap(wrap);
  }

  &__published,
  &__updated {
    color: $grey5;
    @include font-size(12);
    line-height: 1.33;
    margin-bottom: 4px;
    margin-right: 10px;
  }
  &__updated {
    border-left: 1px solid $grey5;
    padding-left: 6px;
    margin-left: 6px;
    margin-right: 12px;
  }
  &__author {
    @include flexbox;
    @include align-items(center);
    margin-right: 12px;
    margin-bottom: 4px;

    &-name {
      @include font-size(12);
      color: $black;
      line-height: 1.33;
      font-family: $primaryFont;
      font-weight: $weightMedium;
      position: relative;
      padding-left: 12px;
      text-decoration: none;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0, -50%);
        @include size(4px);
        background-color: var(--sec-color);
      }
    }
  }

  &__main {
    &__paywall-container {
      position: relative;
      &:before {
        content: '';
        background-image: linear-gradient(to top, #ffffff 19%, rgba(255, 255, 255, 0.8) 45%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
      }
    }

    &-container {
      margin-top: 35px !important;
    }
  }

  &__excerpt {
    color: $black;
    font-family: $secondaryFont;
    @include font-size(16);
    line-height: 1.75;
    font-weight: $weightRegular;
    @include margin-bottom(20);
  }

  &__container {
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    li {
      color: $black;
      font-family: $secondaryFont !important;
      font-size: 16px !important;
      line-height: 1.5 !important;
      font-weight: $weightRegular !important;
      letter-spacing: normal !important;
      margin-bottom: 20px !important;
      word-wrap: break-word;

      * {
        line-height: 1.5 !important;
        letter-spacing: normal !important;
        font-family: $secondaryFont !important;
        word-wrap: break-word;
      }
      span,
      b,
      u,
      a {
        color: $black;
        font-family: $secondaryFont !important;
        font-size: 16px !important;
        line-height: 1.5 !important;
        font-weight: $weightRegular !important;
        letter-spacing: normal !important;
        margin-bottom: 20px !important;
        word-wrap: break-word;

        * {
          line-height: 1.5 !important;
          letter-spacing: normal !important;
          font-family: $secondaryFont !important;
          word-wrap: break-word;
        }
      }
    }

    h1 {
      font-size: 32px !important;
      span,
      b,
      u,
      a {
        font-size: 32px !important;
      }
    }

    h2 {
      font-size: 26px !important;
      line-height: 1.23;
      span,
      b,
      u,
      a {
        font-size: 26px !important;
        line-height: 1.23;
      }
    }

    h3 {
      font-size: 22px !important;
      font-weight: $weightBold !important;
      line-height: 1.09;
      span,
      b,
      u,
      a {
        font-size: 22px !important;
        font-weight: $weightBold !important;
        line-height: 1.09;
      }
    }

    h4 {
      font-size: 20px !important;
      font-weight: $weightBold !important;
      line-height: 1.2;
      span,
      b,
      u,
      a {
        font-size: 20px !important;
        font-weight: $weightBold !important;
        line-height: 1.2;
      }
    }

    h5 {
      font-size: 20px !important;
      font-family: $primaryFont !important;
      font-weight: $weightBold !important;
      line-height: 1.2;
      span,
      b,
      u,
      a {
        font-size: 20px !important;
        font-family: $primaryFont !important;
        font-weight: $weightBold !important;
        line-height: 1.2;
      }
    }

    h6 {
      font-size: 18px !important;
      font-family: $primaryFont !important;
      font-weight: $weightBold !important;
      color: var(--sec-color);
      line-height: 1.33;
      span,
      b,
      u,
      a {
        font-size: 18px !important;
        font-family: $primaryFont !important;
        font-weight: $weightBold !important;
        color: var(--sec-color);
        line-height: 1.33;
      }
    }

    ul li {
      list-style-type: none !important;
      position: relative;
      &:before {
        content: "";
        @include size(8px);
        background-color: var(--sec-color);
        position: absolute;
        display: block;
        left: -28px;
        top: 8px;
      }

      span {
        list-style-type: decimal !important;
      }

      > ul {
        margin-top: 20px;
        margin-left: 20px;

        li {
          &:before {
            background-color: var(--white);
            border:1px solid var(--sec-color);
          }
        }
      }
    }

    ol {
      li {
        list-style-type: auto !important;
      }
    }

    > span {
      color: $black !important;
      font-family: $secondaryFont !important;
      font-size: 16px !important;
      margin-bottom: 0px !important;
    }

    a {
      text-decoration: none;
      @include transition(all 0.3s ease);
      font-family: $secondaryFont !important;
      color: var(--sec-color) !important;
    }

    blockquote {
      @include flexbox;
      @include flex-direction(column, vertical);
      @include align-items(flex-start);
      margin: 40px 0px 40px 50px;
      position: relative;
      padding-left: 30px;
      border-left: 8px solid var(--sec-color);
      color: $black;
      font-family: $primaryFont !important;
      font-size: 22px !important;
      font-weight: $weightBold !important;
      line-height: 1.45;
      p {
        color: $black;
        font-family: $primaryFont !important;
        font-size: 22px !important;
        font-weight: $weightBold !important;
        margin-bottom: 0px !important;
        line-height: 1.45;
      }
    }

    [style*="center"] {
      img {
        left: auto;
        @include translate(0, 0);
      }
    }

    img[style*="left"] {
      margin: 0 20px 40px 0 !important;
      max-width: 100%;
    }

    img[style*="right"] {
      margin: 0 0 40px 20px !important;
      max-width: 100%;
    }

    figure[style*="right"] {
      margin-right: 0px;
      margin-left: 20px;
    }

    figure[style*="right"],
    figure[style*="left"] {
      left: auto !important;
      @include translate(0%, 0);
      margin-right: 20px;
    }

    div[style*="text-align:center"],
    div[style*="text-align: center"] {
      overflow: hidden;
    }

    figure {
      position: relative;
      @include inline-flex;
      @include flex-direction(column,vertical);
      margin-bottom: 20px !important;
      figcaption {
        position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $black;
        color: $white;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        padding: 10px;
      }
    }

    &__highlight-sec {
      background-color: $black;
      max-width: 300px;
      float: left;
      padding: 30px;
      margin-right: 25px;

      .u-heading__large {
        color: $white;
      }
      ul li {
        color: $white;
      }
    }
  }

  &__paywalled-view {
    box-shadow: 5px 2px 17px 8px rgba(0, 0, 0, 0.1);
    background-color: $grey3;
    padding: 50px 0;
    position: relative;
    z-index: 20;
    text-align: center;

    .o-paywalled {
      &__head {
        @include font-size(32);
        line-height: 1.25;
        font-family: $secondaryFont;
        font-weight: $weightBold;
        color: $black;
      }
      &__text {
        font-weight: $weightMedium;
        @include font-size(20);
        line-height: 1.2;
        color: $grey5;
      }
      &__period {
        margin-top: 16px;
        @include font-size(20);
        line-height: 1.2;
        color: $grey5;
      }

      &__action {
        margin-top: 40px;
      }
    }
  }
}