/* Begin footer style */

.c-footer {
    background-color: $greyish;
    padding: 28px 0 20px;
    &--themecolour{
        background-color: $mainColor;
    }

    &__logo {
        @include flexbox;
        @include justify-content(center);
        &--link {
            max-width: 200px;
            display: block;
        }

        img {
            max-width:100%;
        }
    }

    &__addresses{
        &__content{
            @include font-size(14);
            font-weight: $weightRegular;
            line-height: 1.29;
            color: $white;
            margin-bottom: 15px;
            @media #{$up-to-desktop}{
                margin-bottom: 10px;
            }

            &--name {
                font-weight: $weightBold;
            }
        }
    }

    &__social {
        border-top: 1px solid $grey3;
        margin-top: 50px;
        padding-top: 25px;
    }

    &__bottom {
        @include flexbox;
        @include flex-direction(column,vertical);
        
        &-ls,
        &-rs {
            @include justify-content(center);
            @include flexbox;
        }

        &__powered-by {
            color: $grey3;
            @include font-size(12);
            line-height: 1.33;
            font-weight: $weightRegular;
            text-align: center;
            
            a {
                color: $grey3;
                @include font-size(12);
                line-height: 1.33;
                font-weight: $weightUltabold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .powered-img{
                margin-top: -5px;
                width: 17px;
                height: 18px;
                margin-right: 10px;
            }
        }
        &__copyright {
            margin-top: 8px;
            color: $grey3;
            @include font-size(12);
            line-height: 1.33;
            font-weight: $weightRegular;
        }
        .c-navigation-0 {
            display: none;
            .c-navigation {
                &__grid {
                    li {
                        line-height: 1;
                    }
                }
                &__item {
                    @include transition(all 0.3s ease);
                    &:hover {
                        color: $blue_sh5;
                    }
                }
            }
        }

        @include responsive(xs) {
            @include respond-to(sm) {
                @include flex-direction(row,horizontal);
                @include justify-content(space-between);
                .c-footer__bottom {
                    &__powered-by {
                        text-align: left;
                    }
                    &__copyright {
                        margin-top: 0
                    }         
                }
            }

            @include respond-to(md) {
                .c-footer__bottom {
                    &-rs {
                        margin-left: 25px;
                        flex: 1;
                        @include justify-content(space-between);
                    }

                    &__copyright {
                        width: 216px;
                    }
                }
                .c-navigation-0 {
                    @include flexbox;
                }
            }
            @include respond-to(lg) {
                .c-footer__bottom {
                    &__copyright {
                        width: 262px;
                    }
                }
            }
            @include respond-to(xl) {
                .c-footer__bottom {
                    &__copyright {
                        width: 306px;
                    }
                }
            }
        }
       
    }

    &__top {
        background-color: $blue_sh5;
    }

    @include responsive(sm) {
        padding: 60px 0 40px;
        @include respond-to(md) {
            .c-footer {
                &__logo {
                    @include justify-content(flex-start);
                }
            }
        }
    }
}