/* Begin header top navigation */

.c-navigation {
    $selfNav: &;
    &-0 {
        #{$selfNav} {
            &__grid {
                @include flexbox;
                @include flex-direction(column, vertical);
                @include align-items(center);
                padding-left: 0;
                margin-bottom: 0;

                li {
                    + li {
                        margin-top: 20px;
                    }
                }
            }

            &__item {
                color: $grey3;
                @include font-size(10);
                line-height: 1.6;
                font-weight: $weightMedium;
                text-decoration: none;
                display: block;
            }
        }

        @include responsive(xs) {
            @include respond-to(sm) {
                #{$selfNav} {
                    &__grid {
                        @include flex-direction(row, horizontal);

                        li {
                            + li {
                                margin-top: 0;
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
        }
        &--footer {
            #{$selfNav} {   
                &__item {
                    color: $grey3;
                    @include font-size(12);
                    line-height: 1.33;
                    font-weight: $weightRegular;
                }
            }
        }
    }

    &-1 {
        &__list {
            padding: 0;
            li {
                position: relative;
                cursor: pointer;
            }
            > li {
                > .dropdown-listMenu {
                    > a {
                        @include font-size(16);
                        line-height: 1.5;
                        font-weight: $weightBold;
                        color: $white;
                        text-decoration: none;
                        display: block;
                        margin-left: 30px;
                    }
                }
                + li {
                    margin-top: 25px;
                }

                &.dropdown {
                    > .dropdown-listMenu {
                        > .menu-icon {
                            position: absolute;
                            left: 0;
                            width: 14px;
                            height: 15px;
                            background-image: url("../icons/icon-plus.svg");
                            top: 4px;
                        }
                    }

                    &.active {
                        > .dropdown-listMenu {
                            > .menu-icon {
                                background-image: none;
                                @include flexbox;
                                @include align-items(center);
                                @include justify-content(center);
                                &:before {
                                    content: "";
                                    background-color: $white;
                                    height: 1px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    > ul {
                        display: none;
                    }
                    &.active {
                        > ul {
                            display: block;
                        }
                    }
                }

                > ul {
                    padding: 0;
                    margin-left: 30px;
                    > li {
                        >.sub-dropdown-item {
                            > a {
                                @include font-size(14);
                                line-height: 1.14;
                                font-weight: $weightMedium;
                                color: $white;
                                text-decoration: none;
                                display: block;
                                margin-left: 30px;
                                padding-top: 3px;
                            }
                        }
                        &.sub-dropdown {
                            >.sub-dropdown-item {
                                > .menu-icon {
                                    position: absolute;
                                    left: 0;
                                    width: 14px;
                                    height: 15px;
                                    background-image: url("../icons/icon-plus.svg");
                                    top: 4px;
                                }
                            }

                            &.active {
                                >.sub-dropdown-item {
                                    > .menu-icon {
                                        background-image: none;
                                        @include flexbox;
                                        @include align-items(center);
                                        @include justify-content(center);
                                        &:before {
                                            content: "";
                                            background-color: $white;
                                            height: 1px;
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                            > ul {
                                display: none;
                            }
                            &.active {
                                > ul {
                                    display: block;
                                }
                            }
                        }
                        &:first-child {
                            margin-top: 20px;
                        }
                        + li {
                            margin-top: 16px;
                        }
                    }

                    .sub-custom-menu {
                        margin-left: 44px;
                        li {
                            &:first-child {
                                margin-top: 16px;
                            }
                            + li {
                                margin-top: 16px;
                            }
                            a {
                                @include font-size(14);
                                line-height: 1.14;
                                font-weight: $weightRegular;
                                font-style: italic;
                                color: $grey4;
                                text-decoration: none;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    &-2 {
        #{$selfNav} {
            &__grid {
                @include flexbox;
                @include justify-content(center);
                padding-left: 0;
                li {
                    margin: 0 16px;
                }
            }
            &__item {
                color: $black;
                @include font-size(14);
                line-height: 1.14;
                font-weight: $weightRegular;
                text-decoration: none;
                display: block;
                @include transition(all 0.3s ease);
                &:hover {
                    color: $blue_sh5;
                }
            }
        }
    }

    &-3 {
        #{$selfNav} {
            &__grid {
                @include flexbox;
                @include flex-direction(column, vertical);
                padding-left: 0;
                li {
                    + li {
                        margin-top: 20px;
                    }
                }
            }
            &__item {
                color: $white;
                @include font-size(14);
                line-height: 1.6;
                font-weight: $weightRegular;
                text-decoration: none;
                display: block;
                @include transition(all 0.3s ease);
                &:hover {
                    color: $blue_sh5;
                }
            }
        }
    }

    &-4 {
        @include flexbox;
        @include justify-content(flex-end);
        padding: 20px 0;

        #{$selfNav} {
            &__item {
                color: $white;
                @include font-size(14.5);
                line-height: 1.33;
                font-weight: $weightMedium;
                text-decoration: none;
                display: block;
                @include transition(all 0.3s ease);
                position: relative;

                &--borderred {
                    border-bottom: 2px solid $white;
                    &:hover {
                        border-bottom-color: var(--main-color);
                    }
                }

                &:hover {
                    color: var(--main-color);
                }

                + #{$selfNav}__item {
                    margin-left: 30px;
                    &:before {
                        content: "";
                        width: 1px;
                        background-color: $white;
                        left: -15px;
                        top: 0;
                        position: absolute;
                        height: 100%;
                    }
                }
            }
        }

        &--inverse {
            #{$selfNav} {
                &__item {
                    color: $black;
                    font-weight: $weightBold;

                    + #{$selfNav}__item {
                        margin-left: 15px;
                        &:before {
                            display: none;
                        }
                    }

                    &.subscribe {
                        color: $blue_sh5;
                    }

                    &--borderred {
                        border-bottom: 2px solid $blue_sh5;
                        &:hover {
                            border-bottom-color: var(--main-color);
                        }
                    }
                }
            }
        }
    }
    &-5 {
        #{$selfNav} {
            &__grid {
                li {
                    + li {
                        margin-top: 16px;
                    }
                }
            }
            &__item {
                @include font-size(16);
                color: $white;
                line-height: 1.5;
                font-weight: $weightRegular;
                text-decoration: none;
                display: block;
            }
        }
    }
    &-6 {
        #{$selfNav} {
            &__grid {
                @include flexbox;
                @include flex-direction(row, horizontal);

                li {
                    + li {
                        border-left: 1px solid $grey3;
                        margin-left: 5px;
                        padding-left: 5px;
                    }
                }
            }
            &__item {
                color: $grey3;
                @include font-size(10);
                line-height: 1;
                font-weight: $weightMedium;
                text-decoration: none;
                display: block;
            }
        }
    }
}

/* End header top navigation */
