.c-eventdetail {
    &__head {
        border-bottom: 1px solid $grey4;
        &-main {
            a {
                display: inline-block;
                text-decoration: none;
            }
        }
    }
    &__category {
        color: $blue_sh5;
        @include font-size(12);
        line-height: 1.33;
        font-weight: $weightMedium;
    }

    &__title {
        @include font-size(32);
        line-height: 1.25;
        color: $black;
        font-family: $secondaryFont;
        font-weight: $weightBold;
        margin-bottom: 35px;
    }

    &__content-container {
        margin-top: 35px !important;
    }
}
