.c-article {
  //top bar
  &__top {
    border-bottom: 1px solid $grey4;
    padding: 18px 0;
  }
  &__time {
    &-info {
      @include flexbox();
      @include align-items(center);

      &--label {
        margin-left: 10px;
        @include font-size(12);
        color: $grey5;
        font-family: $primaryFont;
        font-weight: $weightMedium;
        @include flexbox;
        margin-top: 3px;
      }
    }
  }

  &__category {
    color: $blue_sh5;
    @include font-size(12);
    line-height: 1.33;
    font-weight: $weightMedium;
    margin-bottom: 10px;
  }

  &__title {
    @include font-size(32);
    line-height: 1.25;
    font-family: $secondaryFont;
    font-weight: $weightBold;
    color: $black;
  }

  &__additionalInfo {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    margin-top: 15px;
  }

  &__posted-on {
    @include calc(max-width, "100% - 100px");
    width: 100%;
    @include flexbox();
    @include align-items(center);
  }

  &__published,
  &__updated {
    color: $grey5;
    @include font-size(12);
    line-height: 1.33;
  }
  &__updated {
    border-left: 1px solid $grey5;
    padding-left: 6px;
    margin-left: 6px;
  }
  &__author {
    @include flexbox;
    @include align-items(center);
    margin-left: 12px;

    &-name {
      @include font-size(12);
      color: $black;
      line-height: 1.33;
      font-family: $primaryFont;
      font-weight: $weightMedium;
      position: relative;
      padding-left: 12px;
      text-decoration: none;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        @include translate(0, -50%);
        @include size(4px);
        background-color: $blue_sh5;
      }
    }
  }

  &__main-container {
    margin-top: 35px !important;
  }

  &__excerpt {
    color: $black;
    font-family: $secondaryFont;
    @include font-size(16);
    line-height: 1.75;
    font-weight: $weightRegular;
    @include margin-bottom(20);
  }

  &__container {
    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $black;
      font-family: $secondaryFont !important;
      font-size: 16px !important;
      line-height: 1.5 !important;
      font-weight: $weightRegular !important;
      letter-spacing: normal !important;
      margin-bottom: 20px !important;
      word-wrap: break-word;

      * {
        line-height: 1.5 !important;
        letter-spacing: normal !important;
        font-family: $secondaryFont !important;
        word-wrap: break-word;
      }
      span,
      b,
      u,
      a {
        color: $black;
        font-family: $secondaryFont !important;
        font-size: 16px !important;
        line-height: 1.5 !important;
        font-weight: $weightRegular !important;
        letter-spacing: normal !important;
        margin-bottom: 20px !important;
        word-wrap: break-word;

        * {
          line-height: 1.5 !important;
          letter-spacing: normal !important;
          font-family: $secondaryFont !important;
          word-wrap: break-word;
        }
      }
    }

    h1 {
      font-size: 50px !important;
      span,
      b,
      u,
      a {
        font-size: 50px !important;
      }
    }

    h2 {
      font-size: 20px !important;
      span,
      b,
      u,
      a {
        font-size: 20px !important;
      }
    }

    h3 {
      font-size: 20px !important;
      font-family: $primaryFont !important;
      font-weight: $weightBold !important;
      span,
      b,
      u,
      a {
        font-size: 20px !important;
        font-family: $primaryFont !important;
        font-weight: $weightBold !important;
      }
    }

    h4 {
      font-size: 18px !important;
      font-weight: $weightBold !important;
      span,
      b,
      u,
      a {
        font-size: 18px !important;
        font-weight: $weightBold !important;
      }
    }

    h5 {
      font-size: 18px !important;
      font-family: $primaryFont !important;
      font-weight: $weightBold !important;
      span,
      b,
      u,
      a {
        font-size: 18px !important;
        font-family: $primaryFont !important;
        font-weight: $weightBold !important;
      }
    }

    ul li {
      list-style-type: none !important;
      position: relative;
      margin-bottom: 15px;
      &:before {
        content: "";
        @include size(8px);
        background-color: $blue_sh5;
        position: absolute;
        display: block;
        left: -28px;
        top: 8px;
      }

      span {
        list-style-type: decimal !important;
      }
    }

    > span {
      color: $black !important;
      font-family: $secondaryFont !important;
      font-size: 16px !important;
      margin-bottom: 0px !important;
    }

    a {
      text-decoration: none;
      @include transition(all 0.3s ease);
      font-family: $secondaryFont !important;
      color: $blue_sh5 !important;
    }

    blockquote {
      @include flexbox;
      @include flex-direction(column, vertical);
      @include align-items(flex-start);
      margin-bottom: 40px;
      margin-top: 40px;
      position: relative;
      padding-left: 30px;
      border-left: 8px solid $blue_sh5;
      p {
        color: $black;
        font-family: $primaryFont !important;
        font-size: 22px !important;
        font-weight: $weightBold !important;
        margin-bottom: 0px !important;
      }
    }

    &__highlight-sec {
      background-color: $black;
      max-width: 300px;
      float: left;
      padding: 30px;
      margin-right: 25px;

      .u-heading__large {
        color: $white;
      }
      ul li {
        color: $white;
      }
    }

    [style*="center"] {
      img {
        left: auto;
        @include translate(0, 0);
      }
    }

    img[style*="left"] {
      margin: 0 20px 40px 0 !important;
      max-width: 100%;
    }

    img[style*="right"] {
      margin: 0 0 40px 20px !important;
      max-width: 100%;
    }

    figure[style*="right"] {
      margin-right: 0px;
      margin-left: 20px;
    }

    figure[style*="right"],
    figure[style*="left"] {
      left: auto !important;
      @include translate(0%, 0);
      margin-right: 20px;
    }

    div[style*="text-align:center"],
    div[style*="text-align: center"] {
      overflow: hidden;
    }

    figure {
      position: relative;
      figcaption {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: $black;
        color: $white;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        padding: 10px;
      }
    }
  }

  .gallery-container {
    margin-bottom: 20px;
    .article-gallery__caption {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: $black;
      width: 100%;

      p {
        color: $white;
        margin-bottom: 0;
        padding: 10px;
        font-size: 12px;
        line-height: 1.33;
        font-weight: $weightMedium;
        font-style: normal;
      }
    }
  }

  .gallery-container {
    .article-gallery__img-container {
      height: 100%;
    }
    #counter {
      position: absolute;
      right: 15px;
      bottom: 0;
      @include font-size(14);
      font-weight: $weightMedium;
      line-height: 1.14;
      color: $black;
    }
    .owl-thumbs {
      margin-top: 15px;
    }
    .owl-thumb-item {
      width: 143px;
      height: 95px;

      + .owl-thumb-item {
        margin-left: 8px;
      }

      &.active {
        border: none;
        @include opacity(0.3);
      }
    }

    @include responsive(xs) {
      @include respond-to(lg) {
        .owl-carousel {
          position: static;

          .owl-nav {
            left: 0;
            bottom: 135px;
            width: auto;
            top: auto;
            @include translate(0, 0);
            height: 40px;

            .owl-prev,
            .owl-next {
              @include size(40px);
              padding: 0 !important;
              background-color: $black !important;
            }
            .owl-next {
              margin-left: 5px;
            }
          }
        }
        #counter {
          left: 105px;
          right: auto;
          bottom: 147px;
        }
      }
    }
  }
}
