/* section page  style */

.c-sectionwrapper {
    @include padding(0);
}

.o-body-container__forvideo {
    .c-sectionwrapper {
        @include padding(36 0 50 0);
    }
}

.section-page {
    &-firstRow {
        .card-5-desktop {
            .c-cards-view {
                height: 720px;

                @media #{$mobile}, #{$tablet} {
                    height: inherit;
                }
            }
        }
    
        .card-2-desktop {
            .c-cards-view {
                height: inherit;
            }
        }
    }
    &-genricTabView {
        .card-2-tablet {
            @media #{$tablet} {
                .c-cards-view {
                    &__media {
                        height: 175px; 
                    }
                }
            }
        }
    }
}

.hm-firstRow {
    .card-1-mobile {
        .c-cards-view {
            &__media {
                display: none;
            }

            &__container {
                width: 100%;
                margin-left: 0px;
            }
        }
    }
}

/* End section page  style */
