/* Begin header style */

.c-button {
    position: relative;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0 16px;
    display: inline-block;
    border: 2px solid $transparent;
    @include font-size(16);
    line-height: 1.5;
    font-weight: $weightMedium;
    @include transition(all 0.3s ease);
    min-width: 120px;
    text-align: center;
    height: 48px;
    @include inline-flex();
    @include align-items(center);
    @include justify-content(center);
    text-decoration: none;

    &--background-white {
        background-color: white;
    }

    &--fwidth {
        width: 100%;
        max-width: 400px;
    }

    &-block {
        width: $viewportSize;
        display: block;
    }

    &--inline {
        display: inline-block;
    }

    &--rounded {
        @include border-radius(25px);
    }

    &--radius {
        @include border-radius(6px);
    }

    &--spinner {
        color: white !important;
    }

    &--blue {
        background-color: $mainColor;
        border-color: $mainColor;
        background-color: $mainColor;
        border-color: $mainColor;
        color: $white;

        &-bordered {
            border-color: $mainColor;
            color: $mainColor;
        }
    }

    &--lightBlue {
        background-color: $blue_sh5;
        border-color: $blue_sh5;
        background-color: $blue_sh5;
        border-color: $blue_sh5;
        color: $white;

        &-bordered {
            border-color: $blue_sh5;
            color: $blue_sh5;
        }
    }

    &--red {
        color: $white;
        border-color: $error;
        background-color: $error;

        &:hover {
            color: $white;
            border-color: $blackred;
            background-color: $blackred;
        }

        &--bordered {
            color: $error;
            border-color: $greyish;
            background-color: transparent;

            &:hover {
                color: $white;
                border-color: $blackred;
                background-color: $blackred;
            }
        }
    }

    &--min-width180 {
        min-width: 180px;
    }

    &--center {
        margin-right: auto;
        margin-left: auto;
    }

    &--disabled {
        @include opacity(0.5);
    }

    &--plan {
        min-width: 230px;
        max-width: 230px;
        @include margin-top(10);
        &.c-button__blue-bordered {
            background-color: unset;
        }
    }
    &--right {
        float: right;
        @include margin-top(20);
    }
    &:focus {
        outline: 0;
    }
    &--disabled {
        border: none;
        background: $grey;
        cursor: unset;
        &:hover {
            background: $grey;
        }
    }
    &--subscribe {
        height: 50px;
        padding-top: 5px;
    }
    &__trial {
        font-size: rem(13);
        font-weight: 500;
        line-height: 1;
        text-align: center;
        color: $white;
        text-transform: none;
        margin-top: -7px;
        letter-spacing: 1px;
    }
}

/* End header style */
