.c-header-main {
    &__container {
        border-bottom: 1px solid $grey4;
        padding: 15px 0;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
    }

    &__logo {
        &-item {
            display: block;
        }
    }
}

.c-hamburger__wrap {
    @include flexbox;
    @include align-items(center);
    cursor: pointer;

    &-icons {
        width: 26px;
    }
    &-text {
        @include font-size(12);
        font-weight: $weightMedium;
        line-height: 1.33;
        color: $black;
        margin-left: 12px;
        text-transform: uppercase;
    }
}
