.c-header-main {
    &__container {
        border-bottom: 1px solid $grey4;
        padding: 15px 0;
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
    }

    &__menu, .c-navigation-4 {
        @media (min-width: 767px) {
            width: 140px;
        }
    }

    &__logo {
        &-item {
            margin: 0 20px;
            display: block;
            @media #{$tablet} {
                max-width: 280px;
            }
            @media #{$mobile}{
                max-width: 240px;
            }
        }
    }
}

.c-hamburger__wrap {
    @include flexbox;
    @include align-items(center);
    cursor: pointer;

    &-icons {
        width: 26px;
    }
    &-text {
        @include font-size(12);
        font-weight: $weightMedium;
        line-height: 1.33;
        color: $black;
        margin-left: 12px;
        text-transform: uppercase;
    }
}

.c-sidebarMenu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 470px;
    background-color: var(--main-color);
    height: 100%;
    z-index: 999999;
    @include box-shadow(3px 2px 13px 0 rgba(0, 0, 0, 0.3));
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transition: translate3d(-100%, 0, 0);
    -ms-transition: translate3d(-100%, 0, 0);
    -o-transition: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    @include transition(all 0.3s ease);
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;

    &.sidebar-active {
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transition: translate3d(0, 0, 0);
        -ms-transition: translate3d(0, 0, 0);
        -o-transition: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    &__subscribe {
        height: 50px;
        background-color: var(--sec-color);
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        text-decoration: none;

        span {
            @include font-size(16);
            line-height: 1.5;
            color: $white;
            font-weight: $weightBold;

            + span {
                margin-left: 10px;
            }
        }
    }

    &__closeInfo {
        @include flexbox;
        @include align-items(center);
        @include justify-content(space-between);
        padding: 20px;

        button {
            @include flexbox;
            @include align-items(center);
            span {
                @include font-size(10);
                line-height: 1.6;
                color: $grey3;
                font-weight: $weightMedium;
                + span {
                    margin-left: 10px;
                    margin-bottom: 3px;
                }
            }
        }

        .u-generic-socialIcons__item {
            + .u-generic-socialIcons__item {
                margin-left: 18px;
            }
        }
    }

    .c-search-bar {
        position: relative;
        margin: 0;
        width: 100%;

        &__form {
            width: 100%;
            margin: 0 20px 0 70px;

            @media #{$mobile}{
                margin: 0 20px 0 20px; 
            }
        }

        &__input {
            color: $black;
            @include font-size(14);
            font-weight: $weightRegular;
            line-height: 1.14;
            padding: 0 10px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: #c0c0c0;
            }
        }
    }

    &__mainNav,
    &__subNav {
        margin: 30px 40px 0 70px;
        padding-bottom: 20px;
        border-bottom: 1px solid $darkergrey;
    }
    &__copyInfo {
        margin: 30px 40px 50px 70px;
        .copy-text {
            color: $grey3;
            @include font-size(10);
            line-height: 1;
            font-weight: $weightMedium;
            text-decoration: none;
            display: block;
        }
    }
}
