.c-subscriptions {
    $selfSubscription: &;
    margin-top: 15px;
    min-height: 600px;
    &__content {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 568px;
            background-color: $grey3;
            z-index: 8;
        }

        &-text {
            position: relative;
            z-index: 10;
            text-align: center;
            padding-top: 70px;

            h1 {
                font-family: var(--sec-font);
                @include font-size(20);
                line-height: 1.5;
                color: $black;
            }

            p {
                margin-top: 10px;
                color: $grey5;
                @include font-size(16);
                line-height: 1.4;
            }
        }
    }

    &__plans {
        position: relative;
        z-index: 10;
        margin-top: 50px;

        .plan-wrap {
            margin: 20px 0 50px;
            min-height: 500px;
            padding: 34px 42px 78px;
            border-radius: 2px;
            box-shadow: 1px 1px 8px 2px rgba(192, 192, 192, 0.2);
            background-color: $white;
            position: relative;
            @include calc(height, "100% - 70px");
            @include flexbox;
            @include flex-direction(column, vertical);

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                height: 12px;
                left: 0;
                width: 100%;
                background-color: $blue_sh5;
                border-radius: 2px;
                box-shadow: 1px 1px 8px 2px rgba(192, 192, 192, 0.2);
            }

            &__info {
                text-align: center;
                @include flexbox;
                @include align-items(center);
                @include flex-direction(column, vertical);
                border-bottom: 1px solid $grey4;
                padding-bottom: 20px;
                margin-bottom: 7px;
                min-height: 160px;

                &-name {
                    color: $blue_sh5;
                    text-transform: uppercase;
                    @include font-size(16);
                    line-height: 1.25;
                    font-family: $primaryFont;
                    font-weight: $weightBold;
                    max-width: 199px;
                    width: 100%;
                    height: 40px;
                    margin-bottom: 12px;
                }

                &-price {
                    @include flexbox;
                    @include flex-wrap(wrap);
                    @include align-items(flex-end);
                    @include justify-content(center);
                    max-width: 220px;

                    .amount {
                        @include font-size(45.6);
                        line-height: 1;
                        font-family: $primaryFont;
                        font-weight: $weightBold;
                        color: $black;
                    }

                    .duration {
                        font-family: $primaryFont;
                        font-weight: $weightMedium;
                        @include font-size(16.8);
                        line-height: 1.14;
                        color: $grey4;
                        text-transform: uppercase;
                        margin-bottom: 10px;
                    }
                }

                &-trail {
                    color: $grey5;
                    margin-top: 18px;
                    font-style: italic;
                    @include font-size(14);
                    font-family: $secondaryFont;
                    line-height: 1.14;
                }
            }

            &__desc {
                flex: 1;
                ul {
                    @include flexbox;
                    @include flex-direction(column, vertical);

                    li {
                        @include font-size(13);
                        line-height: 1.38;
                        font-family: $primaryFont;
                        font-weight: $weightRegular;
                        color: $black;
                        margin-top: 20px;
                        position: relative;
                        padding-left: 30px;

                        &:before {
                            content: "\f05d";
                            font-family: $iconfont;
                            color: $grey4;
                            @include font-size(22);
                            line-height: 1;
                            position: absolute;
                            left: 0;
                            top: -2px;
                        }
                    }
                }
            }

            &__btn {
                height: 140px;
                @include flexbox;
                @include flex-direction(column, vertical);
                position: relative;

                ._btn {
                    color: $blue_sh5;
                    border: 1px solid $blue_sh5;
                    height: 48px;
                    width: 100%;
                    font-family: $primaryFont;
                    font-weight: $weightBold;
                    line-height: 1.5;
                    position: absolute;
                    bottom: 0;
                    border-radius: 6px;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                    text-decoration: none;
                }
            }

            &.best_value {
                margin: 0;
                margin-bottom: 30px;
                @include calc(height, "100% - 30px");
                padding: 54px 42px 78px;

                .plan-wrap__btn {
                    ._btn {
                        bottom: 20px;
                        background: $blue_sh5;
                        color: $white;
                    }
                }
            }
        }
    }

    &__other-pub {
        background-color: $grey3;
        padding: 50px 0;
        position: relative;
        z-index: 10;
        margin-top: 50px;

        h2 {
            text-align: center;
            font-family: $secondaryFont;
            @include font-size(26);
            font-weight: $weightBold;
            line-height: 1.23;
            color: $black;
        }

        &__demo-Info {
            margin-top: 70px;
            &-items {
                padding: 10px 0 35px;
                margin-bottom: 25px;
                border-bottom: 1px solid $grey4;
                .content-section {
                    text-align: center;

                    &__subs {
                        color: $blue_sh5;
                        @include font-size(14);
                        line-height: 1.14;
                        font-family: $primaryFont;
                        font-weight: $weightBold;
                        text-transform: uppercase;
                    }

                    &__title {
                        color: $black;
                        @include font-size(20);
                        line-height: 1.2;
                        font-family: $secondaryFont;
                        font-weight: $weightBold;
                        margin: 4px 0 15px;
                    }

                    &__link {
                        text-decoration: none;
                        border-bottom: 2px solid $blue_sh5;
                        color: $blue_sh5;
                        @include font-size(12);
                        line-height: 1.33;
                        font-family: $primaryFont;
                        font-weight: $weightBold;
                        margin-top: 20px;
                        display: inline-block;
                    }
                }
            }
        }
    }

    @include responsive(xs) {
        @include respond-to(sm) {
            #{$selfSubscription} {
                &__other-pub__demo-Info {
                    &-items {
                        border-left: 1px solid $grey4;
                        border-bottom: none;

                        &:first-child,
                        &:nth-child(2n + 1) {
                            border: none;
                        }
                    }
                }
            }
        }
        @include respond-to(md) {
            #{$selfSubscription} {
                &__content {
                    &-text {
                        h1 {
                            @include font-size(38);
                            line-height: 1.5;
                        }
                    }
                }

                &__other-pub__demo-Info {
                    &-items {
                        border-left: 1px solid $grey4;
                        border-bottom: none;
                        &:nth-child(2n + 1) {
                            border-left: 1px solid $grey4;
                        }
                        &:first-child {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}

/* thankyou page */
.c-thankyouPage {
    $selfThankYou: &;
    margin: 80px 0 100px;

    &__content {
        text-align: center;
        margin-top: 25px;

        &-heading {
            @include font-size(30);
            line-height: 1.3;
            color: $black;
            font-family: $secondaryFont;
            margin-bottom: 20px;
        }

        &-subText {
            color: $grey5;
            font-family: $primaryFont;
            font-weight: $weightRegular;
            @include font-size(18);
            line-height: 1.78;
            a {
                color: $grey5;
                font-family: $primaryFont;
                font-weight: $weightBold;
            }
        }
    }

    @include responsive(xs) {
        @include respond-to(md) {
            margin: 100px 0 200px;

            #{$selfThankYou} {
                &__content {
                    text-align: left;
                    &-heading {
                        @include font-size(50);
                        line-height: 1.16;
                    }
                }
            }
        }
    }
}

/* Subscribe page */

.c-subscribeWrap {
    $selfSubscribe: &;
    &--heading {
        font-family: var(--sec-font);
        @include font-size(20);
        line-height: 1.5;
        color: $black;
        text-align: center;
    }

    &--text {
        font-family: $primaryFont;
        font-weight: $weightMedium; 
        @include font-size(16);
        line-height: 1.5;
        color: $black;
        text-align: center;
        margin-top: 15px;
    }

    &__headContainer {
        margin-bottom: 50px;
    }

    &-box {
        #{$selfSubscribe} {
            &__head,
            &__subhead {
                color: $blue_sh5;
                @include font-size(20);
                line-height: 1.2;
                font-family: $primaryFont;
                font-weight: $weightBold;
                margin-bottom: 10px;
            }

            &__text {
                color: $black;
                @include font-size(16);
                line-height: 1.2;
                font-family: $primaryFont;
                font-weight: $weightMedium;
                margin-bottom: 10px;
            }

            &__subhead {
                margin-top: 20px;
                color: $black;
            }
        }
    }

    &-sidebar {
        background: $mainColor;

        .c-orderSummary {
            padding: 32px;
            border-bottom: 12px solid $blue_sh5;
            &__info {
                @include flexbox;
                @include flex-direction(column,vertical);
                @include align-items(center);
                border-bottom: 1px solid $grey4;
                padding-bottom: 20px;

            }
            &__name {
                color: $white;
                text-transform: uppercase;
                @include font-size(20);
                line-height: 1.25;
                font-family: $primaryFont;
                font-weight: $weightBold;
                max-width: 199px;
                width: 100%;
                min-height: 40px;
                text-align: center;
                margin-bottom: 12px;
            }

            &__price {
                margin-top: 15px;
                color: $white;
                @include font-size(30.4);
                line-height: 1.25;
                font-family: $primaryFont;
                font-weight: $weightBold;
            }

            &__info-trail {
                color: $grey4;
                font-style: italic;
                @include font-size(12);
                font-family: $secondaryFont;
                font-weight: $weightBold;
                margin-top: 5px;
            }

            &__details {
                flex: 1;
                ul {
                    @include flexbox;
                    @include flex-direction(column, vertical);

                    li {
                        @include font-size(13);
                        line-height: 1.38;
                        font-family: $primaryFont;
                        font-weight: $weightRegular;
                        color: $white;
                        margin-top: 20px;
                        position: relative;
                        padding-left: 30px;

                        &:before {
                            content: "\f05d";
                            font-family: $iconfont;
                            color: $grey4;
                            @include font-size(22);
                            line-height: 1;
                            position: absolute;
                            left: 0;
                            top: -2px;
                        }
                    }
                }
            }

            .btn-change {
                color: $grey4;
                margin-top: 40px;
                font-style: italic;
                @include font-size(12);
                line-height: 1.33;
                font-family: $secondaryFont;
                font-weight: $weightRegular;
                display: inline-block;
            }

            #{$selfSubscribe} {
                &__Device {
                    display: block;
                    text-align: center;
            
                    img {
                        max-width: 120px;
                    }
                }
            }
        }
    }
    
    .generic-form {
        .form-group {
            @include flexbox;
            @include flex-direction(column, vertical);
            .formError { 
                border: 1px solid red;
            }
            .errorText { 
                font-weight: bold;
                color: red;
            }
            .input {
                &__label {
                    @include font-size(16);
                    line-height: 1.5;
                    font-family: $primaryFont;
                    font-weight: $weightRegular;
                    color: $grey5;
                    margin-bottom: 6px;

                    span {
                        @include font-size(12);
                    }
                }

                &__text {
                    height: 48px;
                    box-shadow: inset 2px 2px 4px 2px $grey3;
                    background-color: $grey3;
                    padding: 0 20px;
                    font-family: $primaryFont;
                    font-weight: $weightRegular;
                    color: $black;
                    @include font-size(16);
                    outline: none;
                }
            }
            .help-block {
                color: $error;
                font-family: $primaryFont;
                font-weight: $weightMedium;
                @include font-size(12);
                margin-top: 5px
            }
        }
    }

    @include responsive(xs) {
        @include respond-to(md) {
            #{$selfSubscribe} {
                &--heading {
                    @include font-size(38);
                    line-height: 1.5;
                }
            }
        }
    }
}
