<ul class="c-navigation__grid">
    <li>
        <a class="c-navigation__item" href="javascript:;">Custom page</a>
    </li>
    <li>
        <a class="c-navigation__item" href="javascript:;">Custom page</a>
    </li>
    <li>
        <a class="c-navigation__item" href="javascript:;">Custom page</a>
    </li>
    <li>
        <a class="c-navigation__item" href="javascript:;">Custom page</a>
    </li>
    <li>
        <a class="c-navigation__item" href="javascript:;">Custom page</a>
    </li>
    <li>
        <a class="c-navigation__item" href="javascript:;">Custom page</a>
    </li>
</ul>