{% set messages = _AppHelper.getFlashMessages() %}

{# {% set messages = { "error" : "<div><ul><li>Username can only contain alphanumeric characters.</li><li>Username can only contain alphanumeric characters.</li><li>Username can only contain alphanumeric characters.</li></ul></div>"} %} #}
{# {% set messages = { "success" : "Your changes have been saved."} %}  #}


{% for key, message in messages %}
    
    {% set textStyle = "--error" %}
    {% if key == 'success'%}
        {% set textStyle = "--success" %}
    {% endif %}

    <div class="profile-message profile-message{{textStyle}}" role="alert">
        <a id="message-close" class="profile-message__close" href="#"></a>
        <div class="profile-message__text">{{message | raw }}</div>
    </div>


{% endfor %}