/* Begin links view style */
.u-sf {
	font-family: $secondaryFont;
}

.u-pr {
	&--6 {
		padding-right: 6px;
	}
}
.u-pl {
	&--6 {
		padding-left: 6px;
	}
}

.u-mt {
	&--50 {
		margin-top: 50px;
	}
}

.u-image-covered {
	@include image_background();
}
.u-advertisement-section {
	text-align: center;
	&__m80 {
		margin: 80px 0;
	}
}

.x-close {
	top: 50%;
	right: 0;
	z-index: 50;
	border: none;
	cursor: pointer;
	position: absolute;
	@include size(16px);
	background: transparent;
	@include transform(translateY(-50%));
	@include transition(all 0.4s ease-in-out);
	&:before,
	&:after {
		top: 50%;
		left: -15%;
		right: -15%;
		height: 1px;
		content: " ";
		position: absolute;
		background-color: lighten($black, 20%);
		@include transition(all 0.2s ease-in-out);
	}
	&:before {
		@include transform(rotate(45deg));
	}
	&:after {
		@include transform(rotate(-45deg));
	}
	&:hover {
		/*@include transform(translateY(-50%) rotate(90deg)!important);*/
		&:before,
		&:after {
			background-color: $mainColor;
		}
	}
}

.u-generic-socialIcons {
	@include flexbox;
	@include align-items(center);

	&__item {
		color: $white;
		text-decoration: none;
		@include transition(all 0.3s ease);
		&:hover {
			color: $blue_sh5;
		}
		+ .u-generic-socialIcons__item {
			margin-left: 18px;
		}
	}

	&-text {
		font-size: 12px;
		margin-right: 20px;
		color: #636567;
	}

	&--alignRight {
		@include align-items(flex-end);
		margin-bottom: 15px;
	}

	@include responsive(xs) {
		@include respond-to(md) {
			@include flex-direction(column, vertical);
			@include align-items(flex-start);
			position: sticky;
			left: 0;
			top: 15px;

			&.u-generic-socialIcons {
				&--alignRight {
					@include align-items(flex-end !important);
					margin-bottom: 0px;
				}
			}

			.u-generic-socialIcons__item + .u-generic-socialIcons__item {
				margin-top: 8px;
				margin-left: 0;
			}
		}
	}
}

.u-generic-topBorder {
	position: relative;
	height: 6px;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		height: 1.5px;
		width: 100%;
		background-color: $black;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 5px;
		height: 1px;
		width: 100%;
		background-color: $grey4;
	}

	&.inverse {
		&:before {
			background-color: $white;
		}
	}
}

/* Begin links view style */
